<%- include('partials/_top') %>

<main>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">Registration Successful!</h4>
          <p>Your account has been created successfully.</p>
          <hr>
          <p class="mb-0">
            Login now?
            <a href="/auth/login" class="btn btn-dark btn-sm">Login</a> </p>
        </div>

      </div>
    </div>
  </div>
</main>

<%- include('partials/_bottom') %>
