<%- include('../partials/_top') %>

<main class="container my-4 text-center">
  <div class="py-5">
    <h1 class="display-4 text-danger">Payment Canceled</h1>
    <p class="lead">Your payment was not completed or was canceled.</p>
    <p>Your cart has been saved. You can try checking out again.</p>
    <hr>
    <a href="/cart" class="btn btn-dark">Back to Cart</a>
  </div>
</main>

<%- include('../partials/_bottom') %>
