<%- include('../partials/_top') %>

<main class="container my-4 text-center">
  <div class="py-5">
    <h1 class="display-4 text-success">Thank You!</h1>
    <p class="lead">Your payment was successful and your order has been confirmed.</p>
    <p>A confirmation email has been sent to your address.</p>
    <hr>
    <a href="/products" class="btn btn-dark">Continue Shopping</a>
  </div>
</main>

<%- include('../partials/_bottom') %>
